global
    user nobody
    group nobody
    chroot "$JAIL"
    log "${SYSLOG_HOSTNAME}" "${SYSLOG_FACILITY}" "${SYSLOG_LEVEL}"


# https://www.haproxy.com/blog/introduction-to-haproxy-logging/
defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

    log global
    option httplog


frontend www
    bind "*:$PORT"

    acl http req.hdr(X-Forwarded-Proto) http

    redirect scheme https if http
    use_backend health-check if !http


backend health-check
    mode http
    errorfile 503 /etc/haproxy/errors/healthcheck.http

